<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{article['title']}}</title>
      
  </head>

  <body>

<h1>{{article['title']}}</h1>
{% set i = 0 %}
{% for img in article['img_url'] %}
{% set i = i + 1 %}
{% if img['url'] == '' %}
{% else %}
<img src="http://giphub.com:9345/{{img['url']}}/{{i}}.jpg" />
{% end %}
{% end %}


  <br/>
  <br/>
{% for category in article['category'] %}
  category = {{category}}
{% end %}
  <br/>
  <br/>

  keywords = {{article['keywords']}} 
  <br/>
  <br/>

  description = {{article['description']}}
  <br/>
  <br/>
  content = {{article['content']}}

  </body>
</html>
