<!DOCTYPE html>
<html>
  <head>
    <title></title>
  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">    
  </head>

  <body>

<form action="/" method="get" >
    <input type="text" name="wd">
    <input type="hidden" name="start" value=0>
    <input type="hidden" name="limit" value=10>  
    <input type="hidden" name="m" value="search">
    <input type="submit" value="Search"/>
  
</form>
<br/>
<br/>


{% for article in sr %}
<a href=/?m=article&aid={{article['id']}} target="_blank">{{article['title']}}</a>
<br/>
<br/>
description = {{article['description']}}
<br/>
<br/>
{% if article['img_url'][0]['url'] == '' %}
<br/>
{% else %}

<img src="http://giphub.com:9345/{{article['img_url'][0]['url']}}/2.jpg" />
{% end %}
<br/>
<br/>
<br/>

{% end %}
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
